AxRetailSO/Connected Services/AxSalesOrderDailyConfirm/STMSalesOrderDailyConfirm8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aosuat:8101/DynamicsAx/Services/STMSalesOrderDailyConfirm?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://aosuat:8101/DynamicsAx/Services/STMSalesOrderDailyConfirm?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/STMSalesConfirm" />
  <xs:import schemaLocation="http://aosuat:8101/DynamicsAx/Services/STMSalesOrderDailyConfirm?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:element name="STMSalesConfirmServiceDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q1:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMSalesConfirmServiceDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="STMSalesConfirmServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q2:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMSalesConfirmServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2008/01/documents/STMSalesConfirm" minOccurs="0" ref="q3:STMSalesConfirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMSalesConfirmServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/STMSalesConfirm" minOccurs="0" ref="q4:STMSalesConfirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMSalesConfirmServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q5:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMSalesConfirmServiceUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q6:EntityKeyList" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/dynamics/2008/01/documents/STMSalesConfirm" minOccurs="0" ref="q7:STMSalesConfirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMSalesConfirmServiceUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="STMSalesConfirmServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q8:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STMSalesConfirmServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/dynamics/2008/01/documents/STMSalesConfirm" minOccurs="0" ref="q9:STMSalesConfirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>